#page-map{
    width: 100vm;
    height: 100vh;

    position: relative;
    display: flex;
}

#page-map aside{
    width: 448px;
    background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7 100%);
    padding: 80px;

    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#page-map aside h2{
    font-size: 40px;
    font-weight: 800px;
    line-height: 42px;
    margin-top: 64px;
}

#page-map aside p{
    line-height: 32px;
    margin-top: 23px;
}

#page-map aside footer{
    display: flex;
    flex-direction: column;
    line-height:24px;
}

#page-map aside footer strong{
    font-weight: 800;
}

#page-map .leaflet-container{
    z-index: 5;
}

#page-map .create-orphanage{

    z-index: 10;

    position: absolute;
    right: 40px;
    bottom: 40px;

    width: 60px;
    height: 60px;
    border-radius: 20px;
    background-color: #15c3d6;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 0.6s;
}

#page-map .create-orphanage:hover{
    background-color: #17d6eb;
}

#page-map .map-popup .leaflet-popup-content-wrapper {
    background: rgb(255,255,255, 0.8);
    border-radius: 20px;
    box-shadow: none;
}

#page-map .map-popup .leaflet-popup-content {
    color: #0089A5;
    font-weight: bold;
    font-size: 20px;
    margin: 8px 12px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-content a {
    width: 40px;
    height: 40px;
    background: #15C3D6;
    box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-map .map-popup .leaflet-popup-tip-container{
    display: none;
}